.page-wrapper {
    max-width: 42rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.page-content {
    padding-left: 12px;
    width: 100%;
}

.cv-page {
    width: 100%;
}

.cv-subtitle {
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

