.page-wrapper {
    max-width: 42rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.page-content {
    padding-left: 12px;
}

.full-name {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.025em;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.info {
    display: flex;
    justify-content: space-between;
}

.position {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: #333;
}