.page-wrapper {
    max-width: 42rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.page-content {
    padding-left: 12px;
}

.full-name {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.025em;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.info {
    display: flex;
    justify-content: space-between;
}

.position {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    line-height: 24px;
}

.description {
    margin-bottom: 20px;
    line-height: 24px;
    font-size: 14px;
}

.details {
    ul {
        list-style: '- ';
        padding-left: 0;
        margin: 0;
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }
}